考虑数据输入:
开始时间，结束时间(elapsed_time和/或point_number)，set情况(set_no)，双方局外胜率(rate)，双方当前得分(p1_score, p2_score)，开始时game获胜情况(p1_games)，发球手(server)
输出：
game_victor，数量split_size个球
// elapsed_time set_no	game_no	point_no	p1_sets	p2_sets	p1_games	p2_games	p1_score	p2_score	server	serve_no

In [15]:
import numpy as np
import pandas as pd
import torch

split_size = 50
min_skip = 0
max_skip = 50
use_columns = ["point_no", "set_no", "point_victor", "p1_score", "p2_score", "p1_games", "p2_games", "server"]

rate = 0.5

data = pd.read_csv("../data/data.csv")

x = pd.DataFrame(columns=use_columns)
y = pd.DataFrame(columns=["game_victor"])

for match_id in data["match_id"].astype("category"):
    _set = data.loc[data["match_id"] == match_id]

    index = np.random.randint(min_skip, max_skip)
    while index+split_size<_set.shape[0]:
        x = x.append(_set.iloc[index][use_columns])
        y.append(_set.iloc[index:index+split_size])
        index += split_size + np.random.randint(min_skip, max_skip)

x.reset_index(drop=True, inplace=True)
x

      point_no set_no point_victor p1_score p2_score p1_games p2_games server
0           15      1            2       30       30        1        0      2
1           92      2            1       30       30        1        3      2
2          186      3            1       15        0        3        1      1
3           24      1            2        0        0        2        1      2
4          116      2            1       40       40        2        4      2
...        ...    ...          ...      ...      ...      ...      ...    ...
18526      229      4            2       40       30        1        1      1
18527       35      1            2       15       40        0        4      2
18528      100      2            2       15       30        4        3      2
18529      164      3            1       15       40        2        1      1
18530      240      4            2       30       30        2        1      2

[18531 rows x 8 columns]

,index,p1_games,p1_score,p2_games,p2_score,point_no,point_victor,server,set_no
0,20,1.0,30.0,1.0,0.0,21.0,2.0,1.0,1.0
1,119,3.0,30.0,4.0,0.0,120.0,1.0,1.0,2.0
2,213,0.0,15.0,2.0,30.0,227.0,2.0,2.0,4.0
3,20,1.0,30.0,1.0,0.0,21.0,2.0,1.0,1.0
4,92,1.0,40.0,3.0,30.0,93.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...
20708,210,1.0,0.0,1.0,0.0,224.0,1.0,1.0,4.0
20709,265,0.0,40.0,0.0,30.0,279.0,2.0,2.0,5.0
20710,43,1.0,0.0,5.0,30.0,44.0,2.0,2.0,1.0
20711,125,6.0,0.0,6.0,0.0,126.0,2.0,1.0,2.0
20712,221,1.0,55.0,1.0,40.0,235.0,1.0,1.0,4.0